@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../tailwind.config.js';

* {
	font-family: Hack, monospace;
}

html {
	@apply scroll-smooth;
}

.background {
	background-image:
		radial-gradient(circle, rgba(255, 153, 51, 0.2) 1px, transparent 1px),
		radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
		radial-gradient(circle, rgba(19, 136, 8, 0.2) 1px, transparent 1px);
	background-position:
		0 0,
		10px 10px,
		20px 20px;
	background-size: 30px 30px;
}

.theme-icon {
	display: none;
}

[data-theme='dark'] .theme-icon-dark,
[data-theme='light'] .theme-icon-light,
[data-theme='system'] .theme-icon-system {
	display: inline;
}
